@import url('/typography.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(23, 23, 23);
    color: rgb(217, 212, 203);
    position: relative; 
}

h1,
h2 {
    margin-bottom: 8%;
}

.heading {
    transform: translateY(50px);
    opacity: 0;
    transition: opacity 800ms ease-in-out, transform 600ms ease-in-out;
}

.heading.active {
    transform: translateY(0px);
    opacity: 1;
}

/* Header */

header {
    width: 100%;
    height: 8vh;
    padding: 1rem;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 87%;
    z-index: 3;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.menu-desktop,
.menu-mobile {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.5px;
}

.navigation,
.navigation-main-mobile {
    width: 100%;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}

.logo {
    flex-basis: 50%;
    list-style-type: none;
}

/* Mobile Navigation */

.menu-mobile {
    background: inherit;
    display: none;
    padding-top: 2%;
}

.burger-menu {
    width: 15px;
    height: 1px;
    margin-bottom: 4px;
    background: inhreit;
    transition: transform 1s ease;
}

.navigation-mobile {
    position: fixed;
    top: 4rem;
    right: 1rem;
    background: inherit;
    transform: translateX(120%);
    transition: transform 900ms ease;
}

.navigation-mobile.active {
    transform: translateX(0);
}

@keyframes navLinkFadeIn {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes navLinkFadeOut {
    from {
        opacity: 1;
        transform: translateX(0px);
    }

    to {
        opacity: 0.6;
        transform: translateX(50px);
    }
}

.navigation-mobile li {
    padding: 0.5rem;
    list-style-type: none;
    opacity: 0;
}

.button-li {
    width: 55px;
    text-align: center;
}

.menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.link, .mobile-link {
    text-decoration: none;
    color: inherit;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

.link:after {
    content: "";
    border-bottom: solid 1px;
    border-color: inherit;
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms cubic-bezier(.65, .05, .36, 1);
}

article {
    width: 100%;  
    padding: 10%;
}


/* Home */

.home {
    font-family: 'Major Mono Display', monospace;
    min-height: 80vh;
    padding: 10%;
    text-align: center;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 23, 23);
}
.home .name-title {
    font-size: 7rem;
    display: flex;
    margin-bottom: 1rem;
    transition: transform 800ms ease-in-out;
    
}

.home>p:first-child {
    margin-right: 20px;
}

.home span {
    display: inline-block;
    transform: scale(0.7);
    transform-origin: 50% 54%;
    transition: transform 600ms ease-in-out;
}

/* About Page */

.about {
    min-height: 100vh;
    transform: scale(0.7);
    transition: transform .5s cubic-bezier(.65, .05, .36, 1), border 500ms cubic-bezier(.65, .05, .36, 1);
    margin: auto;
    background: rgb(22, 32, 54);
    overflow: hidden;
}

.about-text {
    min-width: 200px;
    flex-basis: 50%;
    opacity: 0;
}

.about-text p {
    text-indent: 1rem;
    line-height: 1.7;
}

.about img {
    width: 40%;
    object-fit: scale-down;
    object-position: top;
    padding-right: 4%;
    padding-bottom: 2.7%;
    float: left;
    filter: opacity(0.9);

}

/* Education Page */

.education {
    background: rgb(34, 108, 71);
    color: black;
}

.education section {
    padding: 3%;
    background: rgb(56, 123, 89);
}

.education ul li {
    list-style-type: none;
    margin-bottom: 30px;
}

.animated-line {
    width: 90%;
    height: 2px;
    background-color: darkgray;
    transform: scaleX(0);

}

.animated-line.active {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 1000ms cubic-bezier(.65, .05, .36, 1);
}

.tech-stack .title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5%;
}

/* Projects Page */

.projects {
    width: 100vw;
    min-height: 70vh;
    background: rgb(23, 23, 23);
}

.projects-container {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.projects-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/js-background.jpg);
    background-position: center;
    background-size: cover;
    filter: blur(0.1rem) opacity(0.6) hue-rotate(0deg);
    z-index: -1;
}
.projects .links {
    margin: 1rem 1rem 0  1rem;
    padding: 1rem;
}
.projects .links > p {
   margin-bottom: 1rem;
   
}
.projects .links:not(:first-child) {
    border-top: 1px solid rgb(194, 194, 89);

}
.projects .link  {
   font-style: italic;
}

/* Other Interests Page */

.other-interests {
    background-color: rgb(23, 23, 23);
}

.heading-interests {
    margin-bottom: 5%;
}

.other-interests section:not(:last-child) {
    margin-bottom: 8rem;
}

.music-media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.music-images {

    box-sizing: content-box;
    width: 300px;
    padding: 1rem;
    background-color: rgb(43, 112, 89);
    border-radius: 7px;

}

.music-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.music-content,
.music-image {
    margin: 1em;
    flex-basis: 50%;
}

.music-content iframe {
    display: block;
    filter: opacity(0.6);
    max-width: 350px;
    max-height: 225px;
}

.music-content .text {

    margin: 8rem 0;
}

.music-image {
    width: 300px;
    height: 200px;
    box-shadow: 0px 6px 9px 2px rgb(40, 40, 40);
}

.music-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#music-image-1 {
    transform: translateY(0px);
    transform: rotateZ(-15deg);
    transform-origin: center;

}

#music-image-2 {
    filter: brightness(0.55) sepia(0.4);
    transform: rotateZ(15deg);
    transform-origin: top;
}

.travelling-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.travel-image {
    margin: 3rem 2rem;
    transform: scale(0.5);
    transition: transform 600ms cubic-bezier(.45, .05, .36, .91);
}

.travel-image figure {
    
    width: 400px;
    height: 266px;
}

.travel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(0.7);
}
.travel-image figcaption {
    font-style: italic;
    font-size: 0.8rem;
}
.text {
    margin-bottom: 4rem;
}

.main-carousel {
    width: 100%;
    height: 600px;
    background-color: rgb(33, 33, 33);
    padding:2rem;
}
.carousel-cell {
    width: 100%;
    height: 100%;
}
.carousel-cell figure {
    margin: auto;
    width: 90%;
    height: 90%;
}
.main-carousel img {
    
    width: 100%;
    height: 100%;
    object-fit:scale-down;
    filter: opacity(0.8);
}
.carousel-cell figcaption {
    text-align: center;
    font-style: italic;
    font-size: smaller;
}

.flickity-page-dots {
    display: none;
    bottom: -20px;
}
.flickity-button {
    color:antiquewhite;
    opacity: 0.2;
    background: transparent;
    
}
.flickity-button:hover {
    background: transparent;
    opacity: 1;
}
.flickity-button:focus {
    box-shadow: none;
}


.sports-slide {

    padding: 1rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    overflow: hidden;
}

.sports-slide i {
    font-size: 3rem;
}


.icon-container {
    display: flex;
    justify-content: space-around;
    animation-duration: 10s;
    animation-timing-function: cubic-bezier(.25, .73, .85, .29);
    animation-iteration-count: infinite;
    animation-direction: normal;
}

.icon-container.active {
    animation-name: slideIcons;
}

.ball {
    display: block;
}

.ball.active {
    animation: bounce-fall 0.4s ease-out infinite alternate-reverse;

}

.icons, .winter-sport {
    font-size: 3rem;
    margin:0 1rem;
}

.winter-sport {
    position: relative;
}

.snow {
    font-size: 0.7rem;
    margin: 0;
    z-index: 1;
    animation: fallingSnow 4s ease-in-out infinite;
}

#snowflake1 {
    position: absolute;
    top: -20%;
    left: 50%;

}

#snowflake2 {
    position: absolute;
    top: -40%;
    left: 10%;
}

@keyframes slideIcons {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes bounce-fall {
    from {
        transform: translateY(2rem)
    }
    to {
        transform: translateY(0);
    }

}

@keyframes fallingSnow {
    100% {
        top: 120%
    }
}

/* Contacts */

.contacts {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    display: flex;
    align-items: center;
}
.contacts-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    color: inherit;
    background-color: rgb(8, 58, 64);
    padding: 10%;
    margin: auto;
    border-radius: 0 50% 0 50%;
    transform: translateX(10%) translateY(10%) scale(0.8);
    transition: transform 600ms ease-out, border-radius 1200ms ease-out;
    animation: fluidBox 3000ms ease-in-out alternate infinite 20ms; 
}

.contacts-links {
    margin-top: 20px;
}
.contacts-links a {
    position: relative;
    text-decoration: none;
    margin: 0px 6px;
    color:rgb(217, 212, 203);
    font-size: 2rem;
    
}
.email {
    position: relative;
    font-size: 1.5rem;
    display: inline-block;
}
.email-address {
   letter-spacing: -1px;
   margin: 20px 0;
   display: inline-block;
   cursor: grab;
}
.email-address:after, .contacts-links a:after {
    content: "";
    border-bottom: solid 2px;
    border-color: inherit;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 400ms cubic-bezier(.65, .05, .36, 1);
}


.clipboard-popup {
    visibility: hidden;
    opacity: 0;
    background-color: black;
    color: rgb(217, 212, 203);
    font-size: 0.7rem;
    border-radius: 8px 8px 8px 0px;
    padding: 10px 15px;
    position: absolute;
    top: -20px;
    left: 30px;
    transition: visibility .2s, opacity .2s ease-in-out;
    
}

.email-address:active {
    cursor: grabbing;
}
.email-address span {
    display: inline-block;
    animation: flip 3s infinite;
    animation-delay: calc(.1s * var(--i));
}
@keyframes fluidBox {
    from {
        border-radius: 0 50% 0 50%;
    }
    to {
        border-radius: 50% 0 50% 0;
    }
}

@keyframes flip {
   0%, 50% {
    transform:rotateY(360deg);
  
   }   
}
.email-address:hover + .clipboard-popup {
    visibility: visible; 
    opacity: 1;
}

/* Footer */
footer {
    width: 100%;
    height: 30vh;
    background: rgb(23, 23, 23);
    color: rgb(217, 212, 203);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    font-style: italic;
}
footer p {
    text-align: center;
}

/* Media Queries */

@media(hover: hover) {
    .email-address:hover::after, .contacts-links a:hover::after{
        transform: scaleX(1);
        transform-origin: left;
    }
    .projects .link:hover{
        color: rgb(194, 194, 89);
    }
    .link:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }
}

@media all and (max-width: 1350px) {
    .home .name-title {
        font-size: 5.5rem;
    }
}

@media all and (max-width: 1100px) {
    html {
        font: 100%/1.4 Montserrat, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    .home .name-title {
        font-size: 5rem;
    }
    .home .profession-title h3 {
        font-size: 1.3rem;
    }

    .sports-slide .icons {
        font-size: 3rem;
    }

    .logo {
        flex-basis: 30%;
    }
    .about img {
        width: 50%;
    }
    
    .travel-image figure {
        width: 70%;
        height: auto;
        margin: auto;
    }
    .email {
        font-size: 1.2rem;
    }

}

@media all and (max-width: 815px) {
    
    html {
        font: 87.5%/1.4 Montserrat, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .home .name-title{
        font-size: 4.5rem;
        flex-direction: column;
    }
    .home .profession-title h3{
        font-size: 1rem;
    }
    .empty-div {
        height: 8vh;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.2rem;
    }

    article {
        padding: 4%;
    }
    .about img {
        float: none;
        display: block;
        width: 60%;
        margin: auto;
    }

    .sports-slide .icons {
        font-size: 2rem;
        margin: 0.5rem;
    }

    .snow {
        font-size: 0.4rem;
    }

    .menu-desktop {
        display: none;
    }

    .menu-mobile {
        display: block;
    }
    .email {
        font-size: 0.8rem;
    }
}
@media all and (max-width: 350px) {
    .email {
        font-size: 0.7rem;
    }
    .home .name-title {
        font-size: 3.5rem;
    }
    .about img {
        width: 90%;
    }
} 
