@import url('/styles/typography.css');
@import url('/styles/header.css');
@import url('/styles/home.css');
@import url('/styles/about.css');
@import url('/styles/education.css');
@import url('/styles/projects.css');
@import url('/styles/other-interests.css');
@import url('/styles/contacts.css');
@import url('/styles/footer.css');
@import url('/styles/media-queries.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(23, 23, 23);
    color: rgb(217, 212, 203);
    position: relative; 
}

h1,
h2 {
    margin-bottom: 8%;
}

.heading {
    transform: translateY(50px);
    opacity: 0;
    transition: opacity 800ms ease-in-out, transform 600ms ease-in-out;
}

.heading.active {
    transform: translateY(0px);
    opacity: 1;
}




